*{
   margin: 0;
   padding: 0;
   font-family:'Roboto';
  
 }
 body{
    width: 100%;
    height: 100%;
   background: #363549;
overflow-x: hidden;
height: 100vh;
  
 }

 .wrapper{
   display: flex;
 
 }
 .sidebar{
   display: flex;
   flex-direction: column;
   margin-bottom: 0;
   height: 1400px;
   width:94px;
   background-size: cover;
   z-index: 100;
   transition: all 0.5s ease;
  
   left: 0;
   top: 0;
   background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
   border-radius: 0px;
   display: block;
 
   position: absolute;

 }
 .sidebar.inactive{
   width: 0px;
 }
 .sidebar .logo-details{
   height: 60px;
   width: 100%;
   display: flex;
   align-items: center;
 }
 .sidebar .logo-details i{
   min-width: 94px;
   font-size: 30px;
   text-align: center;
   Width:59px;
   Height:39px;
   Top:20px;
   Left:15px;
   color: #717171;
 }
 .sidebar.inactive .logo-details i{
   min-width: 0px;
   font-size: 30px;
   text-align: center;
   Width:59px;
   Height:39px;
   Top:20px;
   Left:15px;
   color: #717171;
   display: none;
 }
 .sidebar .logo-details .logo_name{
   font-size: 22px;
   color: #fff;
   font-weight: 600;
   transition: 0.3s ease;
   transition-delay: 0.1s;
   opacity: 0;
 }
 .sidebar.inactive .logo-details .logo_name{
   transition-delay: 0s;
   opacity: 0;
   pointer-events: none;
   width: 0px;
 }
 .sidebar .logo-details .toggle-menu-btn{
   color: #666;
   font-size: 20px;
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   cursor: pointer;
 }
 
 .sidebar.inactive .logo-details .toggle-menu-btn{
   right: -50px;
 }
 .sidebar .nav{
   padding: 10px 0 10px 0;
   overflow: auto;
 }
 
 .sidebar .nav::-webkit-scrollbar{
   display: none;
 }
 .sidebar .nav li{
   list-style: none;
   transition: all 0.4s ease;
 }
 .sidebar .nav li:hover{
  background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
 
 }
 
 .sidebar .nav li .icon{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .sidebar.inactive .nav li .icon{
   display: block
 }
 .sidebar .nav li i{
   min-width: 94px;
   text-align: center;
   color: #717171;
   cursor: pointer;
   transition: all 0.3s ease;
   Width:59px;
   Height:39px;
   Top:20px;
   Left:15px;
 }
 .sidebar .nav li.showMenu i.arrow{
   transform: rotate(-180deg);
 }
 .sidebar.inactive .nav i.arrow{
   display: none;
 }
 .sidebar .nav li a{
   display: flex;
   align-items: center;
   text-decoration: none;
 }
 .sidebar .nav li a .link-name{
   font-size: 18px;
   font-weight: 400;
   color: #fff;
   transition: all 0.4s ease; 
    Width:70px;
   Height:39px;
   Top:20px;
   Left:15px;
 }
 .sidebar.inactive .nav li a .link-name{
   opacity: 0;
   pointer-events: none;
 }
 .sidebar .nav li a .link-name{
   opacity: 0;
   pointer-events: none;
 }
 
 .sidebar.nav .sub-menu  .active{
   max-height: 180px;
 }
 .sidebar  .nav li .sub-menu a{
   width: 92px;
   left: 100px;
   top: 99px;
   font-weight: 400;
   line-height: 42px;
   white-space: nowrap;
   opacity: 0.6;
   transition: all 0.3s ease;
   color:#FFFFFF;
   font-size: 15px;
   padding: 10px 10px 0px 0px; 
   white-space: nowrap;
   transition: all 0.3s ease;
   font-family: 'Roboto';
 }
 .sidebar .nav li .sub-menu a:hover{
   opacity: 1;
   
 }
 .sidebar .nav li .sub-menu{
   opacity:0;
   display: block;
   pointer-events: none;
   position: absolute;
   width: 234px;
   height: 951px;
   left: 94px;
   top: 73px;
   
   background: #333A48;
 }
 
 
 .sidebar .nav li:hover .sub-menu{
   top: 72px;
   opacity: 1;
   pointer-events: auto;
   transition: all 0.4s ease;
 }
 .sidebar .nav li:hover .submenu{
   top: 72px;
   opacity: 1;
   pointer-events: auto;
   transition: all 0.4s ease;
 }
 .sidebar.inactive .nav li:hover .sub-menu{
   top: 72px;
   opacity: 1;
   pointer-events: auto;
   transition: all 0.4s ease;
 }
 .sidebar .nav li .sub-menu .link-name{
   display: none;
 }
 .sidebar.inactive .nav li .sub-menu .link-name{
   font-size: 18px;
   opacity: 1;
 }
 .sidebar .nav li .sub-menu .link-name{
   font-size: 18px;
   opacity: 1;
 }
 .sidebar .nav li .submenu{
   pointer-events: auto;
   padding: 10px 20px 6px 85px;
   pointer-events: none;
   position: absolute;
   top: 99px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 298.19%;
   text-transform: capitalize;
   color: #FFFFFF;
 
   
 
 }
 .sidebar .nav li:hover .submenu{
   top: 70px;
 }
 .sidebar .p-del{
   position: fixed;
   bottom: 0;
   width:94px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
   padding: 12px 0;
   transition: all 0.5s ease;
 }
 .sidebar.inactive .p-del{
   background: none;
 }
 .sidebar .p-del{
   background: none;
 }
 .sidebar.inactive .p-del{
   width: 94px;
 }
 .sidebar .p-del{
   width: 94px;
 }
 .sidebar .p-del .profile-content{
   display: flex;
   align-items: center;
 }
 .sidebar .p-del img{
   height: 35px;
   width: 35px;
   object-fit: cover;
   border-radius: 16px;
   margin: 0 14px 0 25px;
   background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
   transition: all 0.5s ease;
   left: 28px;
   top: 948px;
   text-align: center;
   cursor: pointer;
 }
 .sidebar.inactive .p-del img{
   padding: 10px;
   display: none;
 }
 .sidebar .p-del img{
   padding: 10px;
 }
 .sidebar .p-del .profile_name,
 .sidebar .p-del .job{
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   white-space: nowrap;
 }
 .sidebar.inactive .p-del i,
 .sidebar.inactive .p-del .profile_name,
 .sidebar.inactive .p-del .job{
   display: none;
 }
 .sidebar.p-del i,
 .sidebar .p-del .profile_name,
 .sidebar .p-del .job{
   display: none;
 }
 .sidebar .p-del i,
 .sidebar .p-del .profile_name,
 .sidebar .p-del .job{
   display: none;
 }
 .sidebar .p-del .job{
   font-size: 12px;
 }
 


/*navbar*/


  .navbar{
	height: 73px;
	display: flex;
	font-size: 14px; 
	transition: width .2s ease-in;
	align-items: center;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0px 0px;
	background: #2A3240;
  margin-left: 94px;
  width: 1440px;
  position: absolute;
  } 
		.navbar.inactive {
			margin-left: 0px;
			margin-left: -6rem;
			-webkit-transition: margin 0.25s ease-out;
			-moz-transition: margin 0.25s ease-out;
			-o-transition: margin 0.25s ease-out;
			transition: margin 0.25s ease-out;
} 

  .items{
	display: flex;
	align-items: center;
	}
  .item{
	display: flex;
	margin-right: 10px;
	align-items: center;
	position: relative;
	cursor: pointer;
	font-style: 20px;
	color:#726761;
  }
  .items .item{
	color:#726761;
	cursor: pointer;
	width: 24px;
	height: 24px;
	top: px;
	justify-content: space-between;
	left: 60px;
	line-height: 14px;
	gap: 10px;
    }

  .profile_name {
		width: 62px;
		height: 14px;
		left: 1311px;
		top: 21px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
/* identical to box height */
text-transform: capitalize;
color: #FFFFFF;
  }
.mail{
width: 79px;
height: 12px;
left: 1311px;
top: 41px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.7);
}

.avatar{
border-radius: 16px;
width: 37.94px;
left: 1260.41px;
top: 17.53px;
}
 .counter{
border-radius: 50%;
box-sizing: border-box;
position: absolute;
left: 59.09%;
right: 9.09%;
top: 0%;
bottom: 68.18%;
background: #E64547;
border: 1px solid #2A3240;
}
.search-controller{
  color: #fff;
  position: relative;
  }
.search-controller .search-btn{
width: 30px;
height: 40px;
position: absolute;
background: transparent;
border: 0;
font-size: 20px;
position: absolute;
margin-left: 0px;
color:#FFFFFF;
position: absolute;
width: 55px;
height: 16px;
top: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: rgba(143, 143, 143, 0.48);
}
.search-controller input[type=text]{
border: 0;
display: block;
margin: 2px 0;
padding-left: 100px;
height: 41px;
width: 915px;
left: 114px;
top: 1px;
border-radius: 4px;
background: rgba(255, 255, 255, 0.04);
box-sizing: border-box;
}
@media all and (max-width:1100px){
.navbar{
  flex-direction: column;
  flex-wrap: wrap;
 }
.navbar .items{
  display: block;
  padding: 10px 0px;
}
.item{
  text-align: center;
  padding: 0;
  display: none;
}
.navbar-nav{
  display: none;
}
.navbar-nav-mobile{
  position: absolute;
  display: block;
  list-style: none;
  background-color: #db2b39;
  left: 0;
  top: 75px;
  transition: all 0.5s ease-out;
  width: 100%;
}
.search-controller{
  align-self: flex-start;
  margin: 0px 0px 0px 0px;
}
.menu{
  display: block;
  position: absolute;
  right: 20px;
  top: 1px;
}
.showmenu{
  display: block;
}
.search-controller input[type=text]{
  border: 0;
  outline: none;
  height: 30px;
  color: #fff;
  border-radius: 05px;
  display: block;
  margin: 10px 0;
  width:100%;
  box-sizing: border-box;
  padding-left: 100px;
}
.search-controller .search-btn{
  width: 10px;
  height: 55px;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 15px;
  position: absolute;
  margin-left: 0px;
  color:#FFFFFF;
  position: absolute;
  width: 55px;
  height: 16px;
  top: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(143, 143, 143, 0.48);
  }
}



.navbar .p-del{
position: fixed;
display: flex;
align-items: center;
justify-content: space-between;
transition: all 0.5s ease;
}
.navbar .p-del .profile_name,
.navbar .p-del .job{
width: 79px;
height: 12px;
left: 1311px;
top: 41px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
color: rgba(255, 255, 255, 0.7);
}
.menu-toggle:checked~.navbar{
width: auto;
}
.menu-toggle:checked ~ .navbar{
width: 0;
}


menu-toggle:checked ~ .navbar {
width: 60px;
}
