*{
   margin: 0;
   padding: 0;
   
   
 }
 body{
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    background-image: url(bg1.jpg);
    background-size: cover;

 }
 
.container{
   
}
 .wrapper{
   display: flex;

 }
 
 .object-contain{
margin-left: -20px;
margin-top: 30px;
margin-Bottom: 57px;
 }
 .sidebar{
   display: flex;
   flex-direction: column;
   margin-bottom: 0;
   height: 1400px;
   width:94px;
   background-size: cover;
   z-index: 100;
   transition: all 0.5s ease;
  
   left: 0;
   top: 0;
   background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
   border-radius: 0px;
   display: block;
 
   position: absolute;

 }
 
 /* .sidebar.inactive{
   width: 0px;
 }
 .sidebar .logo-details{
   height: 60px;
   width: 100%;
   display: flex;
   align-items: center;
 }
 .sidebar .logo-details i{
   min-width: 94px;
   font-size: 30px;
   text-align: center;
   Width:59px;
   Height:39px;
   Top:20px;
   Left:15px;
   color: #717171;
 }
 .sidebar.inactive .logo-details i{
   min-width: 0px;
   font-size: 30px;
   text-align: center;
   Width:59px;
   Height:39px;
   Top:20px;
   Left:15px;
   color: #717171;
   display: none;
 }
 .sidebar .logo-details .logo_name{
   font-size: 22px;
   color: #fff;
   font-weight: 600;
   transition: 0.3s ease;
   transition-delay: 0.1s;
   opacity: 0;
 }
 .sidebar.inactive .logo-details .logo_name{
   transition-delay: 0s;
   opacity: 0;
   pointer-events: none;
   width: 0px;
 }
 .sidebar .logo-details .toggle-menu-btn{
   color: #666;
   font-size: 20px;
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   cursor: pointer;
 }
 
 .sidebar.inactive .logo-details .toggle-menu-btn{
   right: -50px;
 }*/
 .sidebar .nav{
   padding: 10px 0 10px 0;
   overflow: auto;
 }
 
 .sidebar .nav::-webkit-scrollbar{
   display: none;
 }
 .sidebar .nav li{
   list-style: none;
   transition: all 0.4s ease;
 }
 .sidebar .nav li:hover{
  background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
 
 }
 
 .sidebar .nav li .icon{
   display: flex;
   align-items: center;
   justify-content: space-between;

 }
 .sidebar.inactive .nav li .icon{
   display: block;
   
 }
 .sidebar .nav li i{
   width: 17.79px;
   height: 17.79px;
   margin-left: 38px;
   color: #717171;
   margin-top: -25px;
 }
 .sidebar .nav li.showMenu i.arrow{
   transform: rotate(-180deg);
   
 }
 .sidebar.inactive .nav i.arrow{
   display: none;
 }
 .sidebar .nav li a{
   display: flex;
   align-items: center;
   text-decoration: none;
 }
 .sidebar .nav li a .link-name{
   font-size: 18px;
   font-weight: 400;
   color: #fff;
   transition: all 0.4s ease; 
    Width:70px;
   Height:50px;
   Top:20px;
   Left:15px;
   align-items: center;
 }
 .sidebar.inactive .nav li a .link-name{
   opacity: 0;
   pointer-events: none;
 }
 .sidebar .nav li a .link-name{
   opacity: 0;
   pointer-events: none;
 }
 
 .sidebar.nav .sub-menu  .active{
   max-height: 180px;
 }
 .sidebar  .nav li .sub-menu a{
   width: 92px;
   left: 100px;
   top: 99px;
   font-weight: 400;
   line-height: 42px;
   white-space: nowrap;
   opacity: 0.6;
   transition: all 0.3s ease;
   color:#FFFFFF;
   font-size: 15px;
   padding: 10px 10px 0px 0px; 
   white-space: nowrap;
   transition: all 0.3s ease;
   font-family: 'Roboto';
 }
 .sidebar .nav li .sub-menu a:hover{
   opacity: 1;
   
 }
 .sidebar .nav li .sub-menu{
   opacity:0;
   display: block;
   pointer-events: none;
   position: absolute;
   width: 234px;
   height: 951px;
   left: 94px;
   top: 73px;
   
   background: #333A48;

   font-weight: 400;
font-size: 14px;
line-height: 298.19%;
/* or 42px */

text-transform: capitalize;

color: #FFFFFF;
 }
 
 
 .sidebar .nav li:hover .sub-menu{
   top: 72px;
   opacity: 1;
   pointer-events: auto;
   transition: all 0.4s ease;
 }
 .sidebar .nav li:hover .submenu{
   top: 72px;
   opacity: 1;
   pointer-events: auto;
   transition: all 0.4s ease;
 }
 .sidebar.inactive .nav li:hover .sub-menu{
   top: 72px;
   opacity: 1;
   pointer-events: auto;
   transition: all 0.4s ease;
 }
 .sidebar .nav li .sub-menu .link-name{
   display: none;
 }
 .sidebar.inactive .nav li .sub-menu .link-name{
   font-size: 18px;
   opacity: 1;
 }
 .sidebar .nav li .sub-menu .link-name{
   font-size: 18px;
   opacity: 1;
 }
 .sidebar .nav li .submenu{
   pointer-events: auto;
   padding: 10px 20px 6px 85px;
   pointer-events: none;
   position: absolute;
   top: 99px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 298.19%;
   text-transform: capitalize;
   color: #FFFFFF;
 
   
 
 }
 .sidebar .nav li:hover .submenu{
   top: 70px;
 }
 .sidebar .p-del{
   position: fixed;
   bottom: 0;
   width:94px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
   padding: 12px 0;
   transition: all 0.5s ease;
 }
 .sidebar.inactive .p-del{
   background: none;
 }
 .sidebar .p-del{
   background: none;
 }
 .sidebar.inactive .p-del{
   width: 94px;
 }
 .sidebar .p-del{
   width: 94px;
 }
 .sidebar .p-del .profile-content{
   display: flex;
   align-items: center;
 }
 .sidebar .p-del img{
   height: 35px;
   width: 35px;
   object-fit: cover;
   border-radius: 16px;
   margin: 0 14px 0 25px;
   background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
   transition: all 0.5s ease;
   left: 28px;
   top: 948px;
   text-align: center;
   cursor: pointer;
 }
 .sidebar.inactive .p-del img{
   padding: 10px;
   display: none;
 }
 .sidebar .p-del img{
   padding: 10px;
 }
 .sidebar .p-del .profile_name,
 .sidebar .p-del .job{
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   white-space: nowrap;
 }
 .sidebar.inactive .p-del i,
 .sidebar.inactive .p-del .profile_name,
 .sidebar.inactive .p-del .job{
   display: none;
 }
 .sidebar.p-del i,
 .sidebar .p-del .profile_name,
 .sidebar .p-del .job{
   display: none;
 }
 .sidebar .p-del i,
 .sidebar .p-del .profile_name,
 .sidebar .p-del .job{
   display: none;
 }
 .sidebar .p-del .job{
   font-size: 12px;
 }
 


/*navbar*/


  .navbar{
	height: 73px;
	display: flex;
   margin-left: 94px;
   position: absolute;
   background: #2A3240;
  } 
  .nav-item{
	display: flex;
	align-items: center;
   left: 10px;
   margin-left: 20px;
	}
  .item{
	display: flex;
	margin-left: 18px;
	align-items: center;
	position: relative;
	cursor: pointer;
	font-style: 20px;
	color:#726761;
 cursor: pointer;
  }
  .setting-item {
   list-style: none;
   padding-left: 37px;
   margin-top: 10px;
   margin-bottom: 10px;
  }

  .profile_name {
		width: 62px;
		height: 14px;
		left: 1311px;
		top: 21px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
/* identical to box height */
text-transform: capitalize;
color: #FFFFFF;
  }
.mail{
width: 79px;
height: 12px;
left: 1311px;
top: 41px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.7);
}

.avatar{
border-radius: 16px;
width: 37.94px;
left: 1260.41px;
top: 17.53px;
}
 .counter{
border-radius: 50%;
box-sizing: border-box;
position: absolute;
left: 59.09%;
right: 9.09%;
top: 0%;
bottom: 68.18%;
background: #E64547;
border: 1px solid #2A3240;
}
.search-controller{
  position: relative;
   color: rgba(143, 143, 143, 0.48);
   margin-left: 20px;
  }
.search-controller .search-btn{
width: 30px;
height: 40px;
position: absolute;
background: transparent;
border: 0;
font-size: 20px;
position: absolute;
padding-left: 16.31px;
color:#FFFFFF;
position: absolute;
width: 55px;
height: 16px;
top: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
}
.search-controller input[type=text]{
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
padding-left: 52px;
border: 0;
display: block;

border-radius: 4px;
background: rgba(255, 255, 255, 0.04);
box-sizing: border-box;

width: 915px;
height: 41px;
left: 114px;
top: 16px;

background: rgba(255, 255, 255, 0.04);
border-radius: 4px;
}
@media all and (max-width:1100px){
.navbar{
  flex-direction: column;
  flex-wrap: wrap;
  width: 200%;

 }
 .setting-item{
   margin-left: -10px;
 }
.navbar .nav-item{
  display: block;
  padding-top: 10px ;

}
.item{
  text-align: start;
  padding: 12px;
  display: flex;
   margin-left: -100px;
}
.navbar-nav{
  display: none;
}
.nav.nav-item .setting-item{
  display: block;
  list-style: none;
  background-color: #2bc516;
  left: 0;
  transition: all 0.5s ease-out;
}
.search-controller{
  align-self: flex-start;
  margin: 0px 0px 0px 0px;
}
.menu{
  display: block;
  position: absolute;
  right: 20px;
  top: 1px;
}
.showmenu{
  display: block;
}
.profile_details{
   margin-left: -80px;
   margin-top: 10px;
   cursor: pointer;
}
.counter {
   position: absolute;
  border-radius: 50%;
box-sizing: border-box;
left: 51.09%;
right: 19.09%;
top: 10%;
bottom: 90.18%;
background: #E64547;
border: 1px solid #2A3240;
 margin-left: -700px;
}
.search-controller input[type=text]{
  border: 0;
  outline: none;
  height: 30px;
  color: #fff;
  border-radius: 05px;
  display: block;
  margin: 10px 0;
  width:80%;
  box-sizing: border-box;
  padding-left: 100;
}
.search-controller .search-btn{
  width: 10px;
  height: 55px;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 15px;
  position: absolute;
  margin-left: 0px;
  color:#FFFFFF;
  position: absolute;
  width: 55px;
  height: 16px;
  top: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(143, 143, 143, 0.48);
  }
  
}



.navbar .p-del{
position: fixed;
display: flex;
align-items: center;
justify-content: space-between;
transition: all 0.5s ease;
}
.navbar .p-del .profile_name,
.navbar .p-del .job{
width: 79px;
height: 12px;
left: 1311px;
top: 41px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
color: rgba(255, 255, 255, 0.7);
}
.menu-toggle:checked~.navbar{
width: auto;
}
.menu-toggle:checked ~ .navbar{
width: 0;
}


menu-toggle:checked ~ .navbar {
width: 60px;
}








.spodollar{
width: 40px;
height: 30px;
margin-left: 35px;
background: #070707;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76);
border-radius: 7px;
}

.dollarrec{
   box-sizing: border-box;
width: 34px;
height: 24px;
margin-top: 3px;
padding: 4px;
margin-left: 3px;
background: #070707;
border: 0.3px solid #29A4A6;
border-radius: 7px;
}
.dollartext{
width: 25px;
height: 12px;

margin-top: 2px;
margin-bottom: 3px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

}
.Displaybanner{
width: 94px;
height: 32px;
left: 372.08px;
top: 350px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
text-transform: capitalize;
color: #FFFFFF;
}
.calspo{
   width: 62px;
   height: 9px;
   left: 388px;
   top: 392px;
   
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 8px;
   line-height: 9px;
   color: rgba(255, 255, 255, 0.47);
}
.spo-text{
   width: 161px;
height: 27px;
left: 372.08px;
top: 409px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 8px;
line-height: 9px;
color: rgba(255, 255, 255, 0.47);

}
.signinview{
 
   box-sizing: border-box;

   width: 82.86px;
   height: 25.89px;
   
   border: 1px solid #2199C1;
   border-radius: 32px;
}
.Sponsors{
width: 103px;
height: 28px;
left: 357px;
top: 102px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}
.ActiveSponsors{
width: 106px;
height: 14px;
left: 378px;
top: 169px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-transform: uppercase;

color: rgba(255, 255, 255, 0.62);

}
.PastSponsors{
width: 95px;
height: 14px;
left: 533px;
top: 167px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-transform: uppercase;

color: rgba(255, 255, 255, 0.62);
}
.card-img-top{
   transform: translateY(-40px);
   margin-left: 6px;
}
.progress-bar{
   width: 158px;
height: 5px;
left: 372px;
top: 447px;

background: rgba(255, 255, 255, 0.09);
border-radius: 4px;
}
.ml{
   width: 390px;
height: 41px;
left: 1014px;
top: 130px;

background: rgba(255, 255, 255, 0.04);
border-radius: 4px;
}